@model CourseManagement.Models.CourseModels.courses_student

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>courses_student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cours.course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cours.course_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.courses_type.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courses_type.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.student_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.student_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
