@model CourseManagement.Models.CourseModels.courses_student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>courses_student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cours.course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cours.course_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.courses_type.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courses_type.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.student_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.student_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
